

 <ion-content>
 <ion-list>
 <ion-item>
    <div class="row">
  <div class="col">
    <button class="button button-block button-positive">  <i class="icon ion-loading-c"></i> product</button>
  </div>
  <div class="col">
    <button class="button button-block button-positive">  <i class="icon ion-loading-c"></i> Special</button>
  </div>
   </div>
       <div class="row">
  <div class="col">
    <button class="button button-block button-positive">  <i class="icon ion-loading-c"></i> Events</button>
  </div>
  <div class="col">
    <button class="button button-block button-positive">  <i class="icon ion-loading-c"></i>  Ocattion</button>
  </div>
   </div>
 </ion-item>
  <ion-item ng-repeat="giv in givs" ng-class="fagive_list">
  

    <div class="item">
  <div class="givs_list ">
  <div class="giv_list_titile">
    <h2> {{giv.title}} </h2>
  </div>
  <div class="giv_list_image">
  <div class=" item-image">
    <img src="img/test-2.jpg">
 </div>
 </div>
 <div class="giv_list_footer">
   <div class="giv_date"><span>{{giv.created_at}}</span></div>
   <p>{{giv.short_description}}</p>
   </div>
 </div>
  </div>
 



  </ion-item>
  </ion-list>

  


  <ion-infinite-scroll
    on-infinite="loadMoreGiv()"
    distance="1%">
  </ion-infinite-scroll>

<!-- 
  <ion-infinite-scroll
  ng-if="moregivCanBeLoaded()"
  icon="ion-loading-c"
  on-infinite="loadMoreGiv()">
</ion-infinite-scroll> -->



</ion-content>

















